# the build folder
Release/

# generated header files that include absolute paths
SIMULATION/KDOP/KDOP/include/cl/kdop_cl_kernels_path.h
SIMULATION/NARROW/NARROW/include/cl/narrow_cl_kernels_path.h

# generated binaries
bin/rigid_body_cmd/rigid_body_cmd
bin/rigid_body_gui/rigid_body_gui
lib/
